
body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.container {
    margin-top: 50px;
}

#characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 200px;
    margin-bottom: 20px;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card-title {
    text-align: center;
    margin-top: 10px;
}

